a, button
	position: relative
	display: inline-block
	font-family: $button-fonts
	&.button
		color: $white
		padding: 15px 65px
		border-radius: 20px
		font-weight: 700
		background-image: linear-gradient( to top, #189224 0%, #48eb36 70%)
		box-shadow: 0 15px 20px 0 rgba(43, 187, 46, 0.25),inset 0px -3px 0px 0px rgba(16, 123, 29, 0.8)
		transition: ease all .3s
		&:hover
			background-image: linear-gradient( to top, #189224 0%, #48eb36 80%)
			box-shadow: 0 15px 20px 0 rgba(43, 187, 46, 0.3),inset 0px -4px 0px 0px rgba(16, 123, 29, 0.8)
			transition: ease all .3s
		&:active
			transform: translateY(2px)
			background-image: linear-gradient( to top, #189224 0%, #48eb36 90%)
			box-shadow: 0 15px 20px 0 rgba(43, 187, 46, 0.2),inset 0px -3px 0px 0px rgba(16, 123, 29, 0.8)
			transition: ease all .3s
		+r(576)
			padding: 15px 45px
		&__form
			min-width: 270px
			+r(991)
	&.more
		color: $white
		&::before
			content: ''
			position: absolute
			transition: all .3s
			bottom: 0
			left: 0
			width: 100%
			height: 1px
			background-color: $white
		&:hover
			&::before
				width: 0
			&::after
				transition: all .3s ease
				transform: translateY(-50%) translateX(2px)
		&::after
			content: url("../img/right-arrow.svg")
			background-position: center
			position: absolute
			width: 12px
			height: 12px
			right: -30px
			top: 30%
			transform: translateY(-50%)
			transition: all .3s ease
