html, body
	font-family: $default-font
	font-weight: 400
	font-style: normal
	font-size: 14px
	line-height: 1.5em
	overflow-x: hidden
	position: relative
	min-width: 320px
*
	margin: 0
	padding: 0
ul
	margin: 0
	padding: 0
	list-style-type: none

a,
a:focus,
a:hover
	outline: none
	text-decoration: none
input[type="text"], input[type="tel"]
	border: 1px solid
	color: $white
	border-radius: 20px
	line-height: 1em
	padding: 16px 25px
	font-family: $button-fonts
	min-width: 270px
	box-shadow: none
	font-size: 14px
	width: 100%
	max-width: 300px
	background: transparent
	outline: none
	-webkit-appearance: none
	-moz-appearance: none
	+r(991)
		text-align: center
	&:required:valid
		color:
		border-color:
		outline: none
		box-shadow: none
		-webkit-appearance: none
		font-size: 14px
	&::placeholder
		color: $white
