<section class="contacts" id="contacts">
  <div class="container">
    <div class="title">
      <h2>
        Где нас найти?
      </h2>
    </div>
    <div class="row">
      <div class="col-lg-5 col-xl-4">
        <div class="contacts__info">
          <h3>
            Остались вопросы?
          </h3>
          <p>
            оставьте заявку и наш менеджер свяжется с вами в течении 10 минут
          </p>
          <div class="contacts__info-row contacts__info-row_tel">
            <h4>
              Телефон:
            </h4>
            <a href="tel:+74953643745">
              <strong>
                +7(495)364-37-45
              </strong>
            </a>
            <span>
              Пн-Пт с 09-00 до 18-00
            </span>
          </div>
          <div class="contacts__info-row contacts__info-row_mail">
            <h4>
              Почта:
            </h4>
            <a href="mailto:info@eancode.ru">
             <span>
               info@eancode.ru
             </span>
            </a>
          </div>
          <div class="contacts__info-row contacts__info-row_adress">
            <h4>
              Адрес:
            </h4>
            <p>
              <strong>
                г. Москва. 127422
              </strong>
              Дмитровский пр., дом 16, корпус 2
            </p>
          </div>
          <a href="#" class="button callback_open button-contacts">
            Оставить заявку
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="map__wrapper">
    <div id="map">

    </div>
  </div>
</section>
