<section class="faq">
  <div class="container">
    <div class="title">
      <h2>
        Вопрос - Ответ
      </h2>
    </div>
    <div class="faq__accordion">
      <div class="faq__wrapper">
        <div class="faq__head active">
          Что такое штриховой код EAN-13?
        </div>
        <div class="faq__toggle active">
          <p>
            Для России зарезервированы первые цифры кода (префиксы) – от 460 до 469, которые в настоящее время присваиваются вновь вступающим компаниям.
            Это означает, что штриховые коды, наносимые на упаковку товара, могут начинаться с любой из последовательностей: 460….,461…, 462…, …., 469….          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Как получить штриховой код EAN-13 на продукцию своего предприятия?
        </div>
        <div class="faq__toggle">
          <p>
            Для России зарезервированы первые цифры кода (префиксы) – от 460 до 469, которые в настоящее время присваиваются вновь вступающим компаниям.
            Это означает, что штриховые коды, наносимые на упаковку товара, могут начинаться с любой из последовательностей: 460….,461…, 462…, …., 469….          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Можно ли внутри предприятия использовать собственную структуру штрих-кода EAN-13?
        </div>
        <div class="faq__toggle">
          <p>
            Для России зарезервированы первые цифры кода (префиксы) – от 460 до 469, которые в настоящее время присваиваются вновь вступающим компаниям.
            Это означает, что штриховые коды, наносимые на упаковку товара, могут начинаться с любой из последовательностей: 460….,461…, 462…, …., 469….          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Является ли штриховой код EAN-13 свидетельством страны происхождения товара?
        </div>
        <div class="faq__toggle">
          <p>
            Для России зарезервированы первые цифры кода (префиксы) – от 460 до 469, которые в настоящее время присваиваются вновь вступающим компаниям.
            Это означает, что штриховые коды, наносимые на упаковку товара, могут начинаться с любой из последовательностей: 460….,461…, 462…, …., 469….          </p>
        </div>
      </div>
    </div>
  </div>
</section>
