<section class="first-screen">
  <div class="container">
    <h1>
      Получите штрих коды на <br>
      продукцию у надежного регистратора
    </h1>
    <p>
      У нас вы можете получить штрихкод в принятом в России и во всем мире формате EAN13, в соответствии с ГОСТ «Автоматическая идентификация. Кодирование штриховое. Спецификация символики EAN/UPC (ЕАН/ЮПиСи)».
    </p>
    <a href="receive.html" class="button">
      Получить штрих код
    </a>
    <a href="receive.html" class="more">
      Узнать подробнее
    </a>
  </div>
</section>
