<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a href="index.html">
        <div class="logo">
          <img src="img/logo.svg" alt="">
          <div class="logo__text">
          <span class="name">
            EANCODE
          </span>
          </div>
        </div>
      </a>
      <!-- End LOGO -->
      <nav class="nav">
        <ul class="menu">
          <li>
            <a href="index.html">
              Главная
            </a>
          </li>
          <li>
            <a href="#">
              Получить штрих код
            </a>
          </li>
          <li>
            <a href="#">
              Технологии авт. идент
            </a>
          </li>

          <li>
            <a href="#">
              Стандартизация
            </a>
          </li>
          <li>
            <a href="#">
              Вопрос-ответ
            </a>
          </li>
          <li>
            <a href="#">
              Контакты
            </a>
          </li>
          <li>
            <a href="#">
              Для клиентов
            </a>
          </li>
        </ul>

      </nav>
      <div class="social-media">
        <a href="#">
          {{mixins.icon('facebook-logo')}}
        </a>
        <a href="#">
          {{mixins.icon('twitter-logo')}}
        </a>
        <a href="#">
          {{mixins.icon('instagram')}}
        </a>
      </div>
    </div>
    <div class="copiright">
      <div class="container">
        <p>
          © 2018, ООО «Eancode»  Все права защищены
        </p>
      </div>
    </div>
  </div>
</footer>
