<div class="from__block">
  <div class="container">
    <form action="sendmail.php" class="form">
      <h2>
        Получить штрихкод
      </h2>
      <p>
        в принятом в России и во всем мире формате
      </p>
      <div class="form__wrapper">
        <div class="form__input">
          <input type="text" name="name" placeholder="Введите Ваше имя" required>
        </div>
        <div class="form__input">
          <input type="tel" name="tel" placeholder="Введите Ваш номер" required>
        </div>
        <button class="button button__form">
          Оставить заявку
        </button>
      </div>
    </form>
  </div>
</div>
