<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <!-- Add LOGO -->
      <a href="index.html">
        <div class="logo">
          <img src="img/logo.svg" alt="">
          <div class="logo__text">
          <span class="name">
            EANCODE
          </span>
            <span class="description">
            Штрих коды на продукцию
          </span>
          </div>
        </div>
      </a>
      <!-- End LOGO -->
      <nav class="nav">
        <ul class="menu">
          <li>
            <a href="index.html">
              Главная
            </a>
          </li>
          <li>
            <a href="receive.html">
              Получить штрих код
            </a>
          </li>
          <li>
            <a href="tech.html">
              Технологии автоматической идентификации
            </a>
          </li>
          <li>
            <a href="standard.html">
              Стандартизация
            </a>
          </li>
          <li>
            <a href="faq.html">
              Вопрос-ответ
            </a>
          </li>
          <li>
            <a href="index.html#contacts">
              Контакты
            </a>
          </li>
          <li>
            <a href="http://eandb.ru" target="_blank">
              Для клиентов
            </a>
          </li>
        </ul>
        <div class="callback">
          <a href="tel:+7(395)364-37-45"><span>+7(395) </span>364-37-45</a>
          <a href="#" class="callback_open">Заказать звонок</a>
        </div>
      </nav>
      <div class="nav__button">
        <div class="bar"></div>
      </div>
    </div>
  </div>
</header>
