<div id="callback" class="modal-callback">
  <form action="sendmail.php" class="form form-modal">
    <h3>
      Получить штрихкод
    </h3>
    <p>
      Оставьте заявку прямо сейчас и получите свой штрихкод
    </p>
    <div class="input-wrapper input-wrapper-name">
      <input type="text" name="name" placeholder="Введите Имя" required>
    </div>
    <div class="input-wrapper  input-wrapper-tel">
      <input type="tel" name="tel" placeholder="Введите Телефон" required>
    </div>
    <div class="input-wrapper">
      <input type="hidden" name="formName" value="Callback" required>
    </div>
    <button class="button button-form">
      Получить консультацию
    </button>
    <div class="input-wrapper checkbox__wrapper">
      <input type="checkbox" name="agree" class="checbox" id="checbox" required checked>
      <label for="checbox" class="checkbox-label">
        Даю согласие на обработку персональных даных
      </label>
    </div>
  </form>
</div>
<div id="thanks" class="modal-callback">
  <div class="form form-modal">
    <h3>
      Спасибо за заявку!
    </h3>
    <p>
      Наши менеджеры свяжутся с вами, <br>
      <strong>в кратчайшие сроки</strong>
    </p>
  </div>
</div>
