<section class="reviews">
  <div class="container">
    <div class="title">
      <h2>
        Отзывы клиентов
      </h2>
    </div>
    <div class="reviews__slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="reviews__slider_block">
              <h3>
                ЗАО "НЗСС"г.Никольск
              </h3>
              <div class="reviews__slider_text">
                <p>
                  Благодарим Вас за своевременно выполненный заказ, в большом объеме и достаточно сжатые сроки.С вами приятно работать.Надеемся на дальнейшее плодотворное сотрудничество.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews__slider_block">
              <h3>
                Агрохолдинг "РОСАГРО", <br>
                Саратовская область
              </h3>
              <div class="reviews__slider_text">
                <p>
                  Благодарим специалистов компании EANCODE за четкую, оперативную и высоко квалифицированную работу. Мы сотрудничаем с Вашей компанией не один год и надеемся на дальнейшее плодотворное сотрудничество.
                  Буглак Дарья, менеджер агрохолдинга "РОСАГРО"

                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="reviews__slider_block">
              <h3>
                ООО «РусТрейдинг» г. Москва
              </h3>
              <div class="reviews__slider_text">
                <p>
                  Работа Eancode понравилась, указанные на Интернет-сайте и в договоре сроки соблюдают, дополнительные штрих коды получаем исправно, проблем не было. Можно рекомендовать для сотрудничества.
                </p>
              </div>
            </div>
          </div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
