<section class="standard">
  <div class="container">
    <div class="title">
      <h2>
        Стандартизация
      </h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="standard__wrapper">
          <h3>
            EAN (European Article Number)
          </h3>
          <p>
            Линейный штрихкод EAN-13. Значение продублировано арабскими цифрами в нижней части штрихового кода (13 знаков).
          </p>
          <p>
            European Article Number, EAN-13 или EAN (европейский номер товара) — Европейский стандарт штрихкода, предназначенный для кодирования идентификатора товара и производителя. Является надмножеством американского стандарта UPC.
          </p>
          <div class="standard__info-border">
            <span><strong>—  Разновидности кода:</strong></span>
            <p>
              Коды EAN-13, EAN-8 содержат только числа и никаких букв или
              других символов.
            </p>
            <div class="standard__info-border_wrapper">
              <div class="standard__info-border_block">
                <p>
                  <strong>EAN-13</strong> (полный)
                  кодируется 13 цифр.
                </p>
                <img src="img/eancode.png" alt="">
              </div>
              <div class="standard__info-border_block">
                <p>
                  <strong>EAN-8</strong> (сокращённый)
                  кодируется 8 цифр.
                </p>
                <img src="img/eancode-6.png" alt="">
              </div>
              <div class="standard__info-border_block">
                <p>
                  <strong>EAN-128 </strong> позволяет
                  опознать закодированную
                  последовательность
                </p>
                <img src="img/eancode-7.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="standard__wrapper">
          <h3>
            Стандартизация
          </h3>
          <p>
            <strong>—  Стандартизацией</strong> и регистрацией кодов EAN занималась европейская ассоциациеия ЕАN, в продолжение развития стандартов разработанных организациями UCC (Uniform Code Council, Inc.) в США и ECCC (Electronic Commerce Council of Canada) в Канаде. В 2005 году все эти организации объединились друг с другом и разработали единый стандарт.
          </p>
          <p>
            Теперь именно этот стандарт является универсальным для всех стран, а американская и канадская национальная организация настойчиво рекомендовала всем торговым компаниям своих стран заменить устаревшее оборудование и программы UPC, не способные считывать EAN, на современные.
          </p>
          <div class="standard__img-wrapper">
            <img src="img/eancode-8.png" alt="">
            <img src="img/eancode-9.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="standard__blog">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
              <img src="img/blog-1.jpg" alt="">

            </div>
            <div class="col-lg-6 order-1 order-lg-2">
              <h3>
                История разработки и отличие EAN от UPC
              </h3>
              <p>
                Первоначально была разработана американская система штрихового кодирования Universal Product Code. Разработанная и внедрённая система кодировки товаров UPC в США и Канаде стала на столько популярной в торговых супермаркетах в те далёкие времена, что европейцы тоже призадумались о возможности применения этой очень удобной системы прежде всего в Европе, а также в других странах, то есть за пределами США и Канады. Стояло две задачи: обеспечить своих производителей определённым диапазоном кодов, отличных от «американских», для кодировки производимых товаров; и обеспечить возможность магазинам считывать как американские, так и европейские коды, и желательно, чтобы на упаковке был только один, единый штрихкод, а не два кода - один для США, другой для Европы. Для того, чтобы закодировать в коде товары других стран, необходимо было увеличить количество разрядов кода с 12 цифр, которые были в полном эксклюзивном владении американцев и канадцев, как минимум до 13 цифр, чтобы использовать эту дополнительную, и первую по счёту цифру в коде в качестве условного сигнала для торговых программ, что этот товар не американского производства, а товар производства другой страны. Американцам и канадцам в качестве этой цифры разработчики сразу зарезервировали ноль, что вполне естественно и логично.
              </p>
            </div>
            <div class="col-lg-6 order-3 order-lg-3">
              <p>
                Помимо организационной задачи перед разработчиками стояла серьёзная техническая задача – сохранить совместимость кодов, и одновременно возможность минимальных аппаратно-программных переделок сканеров штрихкода, очень удобных, но тогда ещё дорогих. Как говорится, чтобы «не изобретать велосипед», не тратить лишние средства на разработки, а воспользоваться уже имеющимися разработками американцев. Очень важно было сохранить всё то главное, что было в UPC: тоже самое количество штрихов; осевую симметричность кода для его удобного чтения как в прямом, так и в обратном направлении (если товар поднесён к сканеру «вверх-тормашками»); сохранить возможность чтения фотографически негативных кодов (некоторые производители и таким способом печатают код на товаре, то есть по тёмному фону светлые штрихи). В результате творческой работы, было найдено гениальное и простое решение: в целях максимальной совместимости, кодирование EAN было переработано из UPC так, что по-прежнему содержало только 12 «штриховых цифр», то есть только 12 цифр в коде имеют конкретноее соответствие конкретным штрихам, а эта тринадцатая, дополнительная, цифра «вычислялась» логическим путём. В принципе «рисунок» EAN-13 навскидку, ни чем не отличается от рисунка UPC, а для кодов, начинающихся с цифры ноль — точная копия.
              </p>
            </div>
            <div class="col-lg-6 order-4 order-lg-4">
              <img src="img/blog-2.jpg" alt="">
            </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
