<section class="standard">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="standard__wrapper standard__wrapper_more">
          <h3>
            Тайна 13 цифры
          </h3>
          <img src="img/eancode-9.png" alt="">
          <p>
            Первая цифра (в иллюстрации к статье — это цифра 5) кодируется иным способом, чем штрихами, она кодируется на определённом логическом уровне. То есть не группой штрихов, как последующие 12. Поэтому эту циферку, не имеющую конкретной штриховой группы
            внутри кода, часто располагают слева, за пределами самого кода. Как же кодируется тринадцатая цифра? Сразу нужно отметить, что правая половина кода не меняется в зависимости от того какая закодирована дополнительная цифра, в таблице структура цифр отмечена латинской буквой R. Логика тринадцатой цифры кроется в левой половине кода, в тех штрихах, которые кодируют левые 6 цифр. Это происходит на графическом уровне изображения кода каждой цифры. Из таблицы видно, что для кодирования первой цифры используется немного разное начертание штрихов обозначенное буквами L и буквами G. Определённое чередование этих кодов, даёт сканеру на уровне логики понять, какая первая цифра имелась ввиду. Например, для цифры «1» G-код у третьей, пятой и шестой цифры, то есть встретив код, в котором G-код левой части кода расположенны в этом порядке сканер в качестве первой цифры передаст в компьютер единичку. Для цифры «2» G-код у третьей, четвёртой и шестой цифры, соответственно сканер передаст в компьютер двоечку. Для других цифр эта логика отображена в таблице.
          </p>
          <h3>
            EAN-8
          </h3>
          <p>
            Также существует стандарт штрих-кода EAN-8, в теле сообщения которого кодируется только 8 цифр.
          </p>
          <p>
            Каждая цифра в EAN кодируется с помощью четырёх штрихов: двух белых и двух чёрных. Штрихи могут иметь относительную ширину в одну, две, три и четыре единицы. Общая ширина штрихов одной цифры составляет семь единиц. Направление чтения комбинации штрихов значения не имеет
          </p>
        </div>

      </div>
      <div class="col-lg-6">
        <div class="standard__wrapper standard__wrapper_more">
          <h3>
            Кодирование цифр
          </h3>
          <img src="img/eancode-10.jpg" alt="">
          <p>
            Каковы графические отличия L-кода, R-кода, и G-кода? По сути для каждой цифры это одна и таже комбинация черно-белых штрихов, L-код отличается от R-кода лишь фотографически негативным исполнением, а G-код, в свою очередь, отличается от R-кода реверсивным (зеркальным) исполнением.         </p>
          <p>
            Так что ничего особо нового европейцы не придумали, но вот таким простым и гениальным способом вкодировали тринадцатую цифру.
          </p>
          <p>
            Для цифры ноль в коде ни для одной из шести цифр левой части кода нет ни одного преобразования в зеркально-негативный вид, то есть все штрихи кодируются L-кодом, как в UPC. EAN-сканер, встретив код без штрихов с G-кодом, передаёт в компьютер первую цифру «ноль». В свою очередь, если этот код прочитает редкий на сегодняшний день, уже ушедший в историю американский сканер штрихкодов UPC, то он будет просто прочитан как «родной» код UPC, только и всего. Если же сканер UPC встретит на своём пути штриховку с G-кодом, то он просто не сможет считать этот код, и выдаст ошибку или не заметит и не передаст ни какой код в компьютер. Этим и обеспечена полная совместимость «снизу-вверх».
          </p>
          <p>
            Резюмируя вышесказанное можно констатировать, что UPC может считаться частным случаем, подмножеством кода EAN-13, у которого первая цифра есть 0, которая часто не указывается в виде арабской цифры, и эти коды в этом случае ни чем не отличаются друг от друга по рисунку. Была полностью сохранена возможность чтения «американских» кодов на «европейских» сканерах, но не наоборот. Сам код EAN-13, и его 13 цифра в свою очередь формируется «игрой» негативности-реверсивности последовательности штрихов в левой части кода, в результате чего, чисто «американские» сканеры UPC читать европейский код не в состоянии, но обеспечена максимальная «похожесть» кодов друг на друга. К счастью, за эти годы, и в США и в Канаде этот тип сканеров уже вытеснен из всех магазинов, и установлены сканеры, способные считывать кодировку EAN-13, то есть продажа товаров из других стран не вызывает никаких проблем при продаже на территории стран-основателей этой самой распространённой системы автоматизации продаж.
          </p>
        </div>
      </div>


    </div>
  </div>
</section>
