<section class="tech">
  <div class="container">
    <div class="title">
      <h2>
        Технологии автоматической <br> идентификации
      </h2>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="tech__info">

          <h3>
            Технологии
          </h3>
          <p>
            Применяемые в мире автоматической идентификации, различны и очень часто используются в комбинациях. Цель этой статьи – объединить все технологии и дать читателю основные сведения об этих технологиях, их применениях и возможностях.
          </p>

        </div>
      </div>
      <div class="col-lg-9">
        <div class="tech__wrapper">
          <div class="tech__block">
            <img src="img/eancode.png" alt="">
            <h4>
              Штрих-коды
            </h4>
            <p>
              Наверное, самая известная из всех технологий автоматической идентификации. Штриховой код символики EAN/UPC, представленный семейством символов EAN-8, EAN-13, UPC-A,
            </p>
            <a href="#">
              Подробнее
            </a>
          </div>
          <div class="tech__block">
            <img src="img/eancode-2.png" alt="">
            <h4>
              Двумерные штрих-коды

            </h4>
            <p>
              Новое растущее направление в мире штрих-кодов – это двумерные коды. Символ с многострочной символикой состоит из двух и более смежных по вертикали строк знаков символа штрихового кода. В отличие от традиционных линейных символик штрихового кода, которые позволяют представлять в символе штрихового кода короткую последовательность данных, являющуюся, как правило, ключом к записи во внешней базе данных, многострочные символики позволяют кодировать информацию в полном объеме. Кроме того, многострочные символики включают в себя специальные механизмы по сжатию данных (защите их от повреждения, связыванию информации), представленных в нескольких символах, в один большой файл; представлению различных наборов знаков в одном сообщении. Примерами таких кодов являются PDF 417, MaxiCode, Data Matrix, Aztec Code м др. UPC-E, предназначен для кодирования цифровой информации и является одним из основных машиночитаемых носителей данных.
              Символики штрихового кода Code 128 (Код 128) и Code 39 (Код 39), наряду с символиками EAN/UPC и Interleaved 2 of 5 (2 из 5 чередующийся) в настоящее время являются самыми распространенными в мире среди линейных символик, в которых символ представлен последовательностью знаков символа штрихового кода, выстроенных в одну линию. Но в отличие от EAN/UPC и Interleaved 2 of 5 эти символики позволяют кодировать не только цифровую информацию, но и данные, содержащие латинские буквы и специальные графические знаки.
            </p>
            <a href="#">
              Подробнее
            </a>
          </div>
          <div class="tech__block">
            <img src="img/eancode-3.png" alt="">
            <h4>
              Радиочастотная идентификация
            </h4>
            <p>
              Самой «жаркой» технологией на арене автоматической идентификации является RFID. Данная технология позволяет получать информации о предмете без необходимости прямого контакта. Дистанции, на которых может проходить считывание и запись информации, может варьироваться от нескольких миллиметров до нескольких метров в зависимости от применяемой технологии. Сами радиочастотные метки тоже являются весьма различными, размером с кредитную карту, или совсем крошечные вживляемые стеклянные метки для отслеживания перемещения животных, или большие метки, которые прикрепляются к контейнерам, железнодорожному подвижному составу. Частота, на которой работают метки и считывающие устройства, также различна, от 126 kHz до 5.8 GHz. Самым большим преимуществом радиочастотной идентификации является то, что расстояние, на котором может происходить получение и запись информации, варьируется до нескольких десятков метров.UPC-E, предназначен для кодирования цифровой информации и является одним из основных машиночитаемых носителей данных.
              Символики штрихового кода Code 128 (Код 128) и Code 39 (Код 39), наряду с символиками EAN/UPC и Interleaved 2 of 5 (2 из 5 чередующийся) в настоящее время являются самыми распространенными в мире среди линейных символик, в которых символ представлен последовательностью знаков символа штрихового кода, выстроенных в одну линию. Но в отличие от EAN/UPC и Interleaved 2 of 5 эти символики позволяют кодировать не только цифровую информацию, но и данные, содержащие латинские буквы и специальные графические знаки.
            </p>
            <a href="#">
              Подробнее
            </a>
          </div>
          <div class="tech__block">
            <img src="img/eancode-4.png" alt="">
            <h4>
              Биометрия
            </h4>
            <p>
              Это технология идентификации, основанная на измерении уникальных физиологических характеристик человека. Примерами биометрии являются идентификация по голосу, лицу, глазу, отпечатку пальца, почерку, подписи, рисунку вен и др. Разные биометрические системы сканируют разные части тела. Компьютер преобразует отсканированное изображение в математический цифровой код, который затем сравнивается с ранее сделанным кодом, хранящимся в базе данных. Если коды совпадают, то компьютер удостоверяет, что человек, который стоит перед сканирующим устройством, является тем самым человеком, чье имя соответствует этому коду. Надо еще раз отметить, что в базе данных содержатся не изображения отпечатков пальцев, глаза или руки, а только соответствующие этим изображениям коды.
              UPC-E, предназначен для кодирования цифровой информации и является одним из основных машиночитаемых носителей данных.
              Символики штрихового кода Code 128 (Код 128) и Code 39 (Код 39), наряду с символиками EAN/UPC и Interleaved 2 of 5 (2 из 5 чередующийся) в настоящее время являются самыми распространенными в мире среди линейных символик, в которых символ представлен последовательностью знаков символа штрихового кода, выстроенных в одну линию. Но в отличие от EAN/UPC и Interleaved 2 of 5 эти символики позволяют кодировать не только цифровую информацию, но и данные, содержащие латинские буквы и специальные графические знаки.
            </p>
            <a href="#">
              Подробнее
            </a>
          </div>
          <div class="tech__block">
            <img src="img/eancode-5.png" alt="">
            <h4>
              Электронный код продукции
            </h4>
            <p>
              EPC (Electronic Product Code, Электронный код продукции) - это уникальный номер, определяющий конкретный предмет торговли в цепи поставок. Код ЕРС хранится на радиочастотной метке (RFID), которая состоит из кремниевого чипа и антенны. Считав код ЕРС, можно определить, например, происхождение предмета торговли или дату его производства. ЕРС во многом схож с Глобальным номером товара (GTIN): это - тоже ключ, открывающий доступ к информационным системам, входящим в состав Глобальной сети (EPCglobal Network).UPC-E, предназначен для кодирования цифровой информации и является одним из основных машиночитаемых носителей данных.
              Символики штрихового кода Code 128 (Код 128) и Code 39 (Код 39), наряду с символиками EAN/UPC и Interleaved 2 of 5 (2 из 5 чередующийся) в настоящее время являются самыми распространенными в мире среди линейных символик, в которых символ представлен последовательностью знаков символа штрихового кода, выстроенных в одну линию. Но в отличие от EAN/UPC и Interleaved 2 of 5 эти символики позволяют кодировать не только цифровую информацию, но и данные, содержащие латинские буквы и специальные графические знаки.
            </p>
            <a href="#">
              Подробнее
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
