<section class="what-need">
  <div class="container">
    <div class="title">
      <h2>
        Чтобы получить штрих код
      </h2>
      <h3>
        нужно выполнить три простых действия
      </h3>
    </div>
    <div class="what-need__wrapper">
      <div class="what-need__block">
        <h4>
          Заполнить анкету
        </h4>
        <p>
          Указать реквизиты вашей организации или ИП
        </p>
        <a href="docs/zayavka.xls" download>
          Заявления о
          регистрации
        </a>
        <a href="docs/zayavka_sample.xls" download>
          Образец заявления о
          регистрации
        </a>
      </div>
      <div class="what-need__block">
        <h4>
          Заполнить перечень

        </h4>
        <p>
          Продукции, подлежащей штриховому кодированию
        </p>
        <a href="docs/list.xls" download>
          Перечень продукции
        </a>
        <a href="docs/list_sample.xls" download>
          Образец перечня продукции
        </a>
      </div>
      <div class="what-need__block">
        <h4>
          Отправить нам на email
        </h4>
        <p>
          Отправить заполненные Заявление и Перечень продукции по адресу <a href="mailto:info@eancode.ru">info@eancode.ru</a>
        </p>
      </div>
      <div class="what-need__block">
        <h4>
          Вы получите счет на оплату

        </h4>
        <p>
          В течение двух рабочих часов после отправки Заявления и Перечня Вы получите счет на оплату и договор на оказание услуг по присвоению штрих кодов.
        </p>
      </div>
      <div class="what-need__block">
        <h4>
          Оплатить услугу
        </h4>
        <p>
          Вам следует оплатить услугу по одному из тарифов, перечисленных ниже
        </p>
      </div>
    </div>
  </div>
</section>
