<section class="why-we why-we-template">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="subtitle">
          <h2>
            Первый вариант оплаты
          </h2>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="why-we__wrapper why-we__wrapper_border">
              <p>
            <span>
              <strong>
                Первоначальный платеж составляет 15 000 рублей
              </strong>
              после внесения разового первоначального платежа вы имеете право получить штрих коды на  всю вашу продукцию, без ограничения по количеству.
            </span>
                <span>
              <strong>
                Ежегодный платеж
              </strong>
              идущий на поддержание целостности базы данных  штрихкодов, составляет
              5 000 рублей, оплата за первый год уже включена в первоначальный платеж.
            </span>
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="why-we__wrapper why-we__wrapper_comics">
              <p>
            <span>
              <strong>
               Штрих коды на новую продукцию выдаются бесплатно при условии своевременной оплаты ежегодных платежей
              </strong>
            </span>
              </p>
              <img src="img/why-we-code.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="subtitle">
          <h2>
            Второй вариант оплаты
          </h2>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="why-we__wrapper why-we__wrapper_border why-we__wrapper_border-small  why-we__wrapper_table">
              <table>
                <tr>
                  <th>
                    Максимальное количество штрих кодов
                  </th>
                  <th>
                    Цена
                  </th>
                </tr>
                <tr>
                  <td>
                    До 10 штрих-кодов
                  </td>
                  <td>
                    5 500 рублей
                  </td>
                </tr>
                <tr>
                  <td>
                    До 50 штрих-кодов
                  </td>
                  <td>
                    6 500 рублей
                  </td>
                </tr>
                <tr>
                  <td>
                    До 100 штрих-кодов
                  </td>
                  <td>
                    7 500 рублей
                  </td>
                </tr>
                <tr>
                  <td>
                    До 1000 штрих-кодов
                  </td>
                  <td>
                    15 500 рублей
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="why-we__wrapper why-we__wrapper_comics">
              <p>
                <span>
                  <strong>
                    Ежегодный платеж отсутствует
                  </strong>
                  Ежегодный платеж отсутствует, при этом любое получение дополнительных штрих кодов осуществляется через оператора по указанным выше тарифам.
                </span>
                <span>
                  <strong>
                    Согласно нашим расчетам, тариф с ежегодным платежом является наиболее выгодным для большинства компаний, однако мы специально ввели оба варианта тарификации чтобы предоставить вам максимальную свободу выбора
                  </strong>
               </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
