<section class="why-we">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xl-6">
        <div class="why-we__wrapper">
          <div class="subtitle">
            <h2>
              Почему стоит выбрать нас?
            </h2>
          </div>
          <h3>
            Работаем уже
            <strong>
              Более 10 лет
            </strong>
          </h3>
          <p>
            с 2007 года, и за это время накопили огромный опыт работы с самыми различными клиентами, Мы обслуживаем десятки тысяч клиентов, являясь одним из крупнейших регистраторов в России, при этом вы вряд ли найдете хотя бы один негативный отзыв о нас.
          </p>
          <h3>
            Возможна постоплата?
            <strong>
              Да!
            </strong>
          </h3>
          <p>
            Вы получаете штрих коды без оплаты, отправив только гарантийное письмо, сразу, в день отправки заявления и перечня продукции. А оплату производите после, срок отсрочки составляет до двух недель. Мы идем Вам на встречу и готовы предоставить даже такой сервис, как выдача штрих кодов еще до оплаты!
          </p>
          <p>
            <span>
              Вы можете ознакомиться со списком часто задаваемых вопросов в разделе <a href="#">«Вопрос-ответ»</a>
            </span>
            <span>
              Ознакомиться с общими принципами штрих кодирования, региональными кодами стран  и историей стандарта EAN вы можете в разделе
              <a href="#">«Стандартизация»</a>
            </span>
            <span>
              Подать заявление на присвоение штрих кодов вы можете в разделе
              <a href="#">«Получить штрих код»</a>
            </span>
          </p>

        </div>

      </div>
      <div class="col-lg-7 col-xl-6">
        <div class="why-we__wrapper_border why-we__wrapper">
          <div class="subtitle">
            <h2>
              Что происходит при регистрации
              штрих кодов?
            </h2>
            <p>
              Вы получаете штриховые коды на вашу продукцию в течение одного рабочего дня, следующего за днем оплаты
            </p>
          </div>
          <div class="why-we__block">
            <div class="why-we__elem">
              <div class="why-we__elem_img">
                <img src="img/software.svg" alt="">
              </div>
              <div class="why-we__elem_text">
                <h3>
                  Мы выдаем стандартные EAN13 коды,
                </h3>
                <p>
                  и регистрируем их в единой базе.
                </p>
              </div>
            </div>
            <div class="why-we__elem">
              <div class="why-we__elem_img">
                <img src="img/earth.svg" alt="">
              </div>
              <div class="why-we__elem_text">
                <h3>
                  Ваши штрих коды будут уникальными
                </h3>
                <p>
                  в России и по всему миру, будут читаться
                  любым соответствующим оборудованием
                </p>
              </div>
            </div>
            <div class="why-we__elem">
              <div class="why-we__elem_img">
                <img src="img/certificate.svg" alt="">
              </div>
              <div class="why-we__elem_text">
                <h3>
                  Мы выдаем вам сертификат
                </h3>
                <p>
                  удостоверяющий то, что вы получили штрих коды в установленном порядке.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="subtitle">
          <h2>
            Первый вариант оплаты
          </h2>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="why-we__wrapper why-we__wrapper_border">
              <p>
            <span>
              <strong>
                Первоначальный платеж составляет 15 000 рублей
              </strong>
              после внесения разового первоначального платежа вы имеете право получить штрих коды на  всю вашу продукцию, без ограничения по количеству.
            </span>
                <span>
              <strong>
                Ежегодный платеж
              </strong>
              идущий на поддержание целостности базы данных  штрихкодов, составляет
              5 000 рублей, оплата за первый год уже включена в первоначальный платеж.
            </span>
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="why-we__wrapper why-we__wrapper_comics">
              <p>
            <span>
              <strong>
               Штрих коды на новую продукцию выдаются бесплатно при условии своевременной оплаты ежегодных платежей
              </strong>
            </span>
              </p>
              <img src="img/why-we-code.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="subtitle">
          <h2>
            Второй вариант оплаты
          </h2>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="why-we__wrapper why-we__wrapper_border why-we__wrapper_border-small  why-we__wrapper_table">
              <table>
                <tr>
                  <th>
                    Максимальное количество штрих кодов
                  </th>
                  <th>
                    Цена
                  </th>
                </tr>
                <tr>
                  <td>
                    До 10 штрих-кодов
                  </td>
                  <td>
                    5 500 рублей
                  </td>
                </tr>
                <tr>
                  <td>
                    До 50 штрих-кодов
                  </td>
                  <td>
                    6 500 рублей
                  </td>
                </tr>
                <tr>
                  <td>
                    До 100 штрих-кодов
                  </td>
                  <td>
                    7 500 рублей
                  </td>
                </tr>
                <tr>
                  <td>
                    До 1000 штрих-кодов
                  </td>
                  <td>
                    15 500 рублей
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="why-we__wrapper why-we__wrapper_comics">
              <p>
                <span>
                  <strong>
                    Ежегодный платеж отсутствует
                  </strong>
                  Ежегодный платеж отсутствует, при этом любое получение дополнительных штрих кодов осуществляется через оператора по указанным выше тарифам.
                </span>
                <span>
                  <strong>
                    Согласно нашим расчетам, тариф с ежегодным платежом является наиболее выгодным для большинства компаний, однако мы специально ввели оба варианта тарификации чтобы предоставить вам максимальную свободу выбора
                  </strong>
               </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
