.icon-facebook-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
