.bread-crumb
	position: relative
	margin-top: 80px
	padding: 10px
	a
		position: relative
		color: $mine-shaft
		font-weight: 500
		margin-right: 20px
		font-family: $title-font
		&::after, &::before
			position: absolute
			content: ''
		&::after
			content: ''
			width: 1px
			height: 12px
			background: $mine-shaft
			right: -13px
			top: 50%
			transform: skew(20deg) translateY(-50%)
		&::before
			width: 0
			height: 1px
			background: $mine-shaft
			bottom: 0
			left: 0
			transition: all .3s ease
		&:hover
			&::before
				width: 100%
	span
		font-weight: 500
		color: #4c4c4c
