.contacts
	position: relative
	min-height: 610px
	.title
		h2
			margin-bottom: 0
		margin-bottom: 30px
	&__info
		border-radius: 10px
		box-shadow: 0 15px 30px 0 rgba(3, 14, 43, 0.1)
		padding: 35px 50px 30px
		+r(991)
			text-align: center
		+r(575)
			padding: 35px 15px 30px
		.button
			width: 100%
			text-align: center
			+r(991)
				display: inline-block
				max-width: 270px
		h3
			font-family: $title-font
			font-weight: 900
			font-size: 24px
			color: $deep-cove
			margin-bottom: 13px
		p
			font-family: $title-font
			font-weight: 500
			font-size: 14px
			color: $tundora
			margin-bottom: 15px
		&-row
			position: relative
			padding-left: 30px
			margin-bottom: 15px
			display: block
			+r(991)
				text-align: left
			&:last-of-type
				margin-bottom: 35px
			h4
				font-family: $title-font
				font-weight: 700
				font-size: 16px
				color: $deep-cove
				margin-bottom: 5px
			a
				text-decoration: underline
				font-weight: 600
				display: block
				color: $deep-cove
				&:hover
					text-decoration: none
				strong
					font-size: 16px
					color: $deep-cove
				span
					font-size: 14px
					color: $tundora
			span
				font-size: 12px
				color: $tundora
			p
				font-weight: 400
				color: $tundora
				font-size: 14px
				strong
					display: block
					font-weight: 600
			&::before
				content: ''
				width: 18px
				height: 18px
				position: absolute
				left: 0
				top: 0
			&_tel
				&::before
					content: url('../img/phone.svg')
			&_mail
				&::before
					content: url('../img/mail.svg')
			&_adress
				&::before
					content: url('../img/adress.svg')
#map
	width: 100%
	height: 100%
	position: absolute
	border-radius: 120px
	overflow: hidden
	&:before
		content: ''
		width: 100%
		height: 100px
		position: absolute
		top: 0
		left: 0
		background: linear-gradient(to bottom , rgba(255, 255, 255 , 1) 0% , rgba(255, 255, 255 , 0) 100%)
		z-index: 100
		+r(991)
			height: 50px
		+r(767)
			height: 30px
		+r(575)
			height: 15px
	&:after
		content: ''
		width: 100%
		height: 100px
		position: absolute
		bottom: 0
		left: 0
		background: linear-gradient(to top, rgba(255, 255, 255 , 1) 0% , rgba(255, 255, 255 , 0) 100%)
		z-index: 100
		+r(991)
			height: 50px
		+r(767)
			height: 30px
		+r(575)
			height: 15px
.map__wrapper
	position: absolute
	width: 100%
	height: 500px
	top: 100px
	left: 40%
	border-radius: 120px
	overflow: hidden
	+r(1199)
		left: 50%
	+r(991)
		position: relative
		left: 0
		height: 300px
		top: 60px
	&::before
		content: ''
		width: 100px
		height: 100%
		position: absolute
		left: 0
		top: 0
		z-index: 100
		background: linear-gradient(to right, rgba(255, 255, 255 , 1) 0% , rgba(255, 255, 255 , 0) 100%)
		+r(575)
			width: 15px
	&::after
		content: ''
		width: 100px
		height: 100%
		position: absolute
		right: 0
		top: 0
		z-index: 100
		background: linear-gradient(to left, rgba(255, 255, 255 , 1) 0% , rgba(255, 255, 255 , 0) 100%)
		+r(575)
			width: 15px
