.faq
	position: relative
	padding: 30px 0 60px
	background-size: cover
	+r(991)
		padding: 30px 0 50px
	.title
		margin-bottom: 30px
	&__accordion
		display: flex
		flex-wrap: wrap
	&__wrapper
		margin-bottom: 30px
		position: relative
		width: 50%
		&:nth-of-type(odd)
			padding-right: 15px
			+r(991)
				padding-right: 0
		&:nth-of-type(even)
			padding-left: 15px
			+r(991)
				padding-left: 0
		+r(991)
			width: 100%
	&__head
		width: 100%
		display: flex
		align-items: center
		background: $white
		padding: 21px 75px 21px 25px
		position: relative
		font-size: 18px
		font-family: $title-font
		font-weight: 700
		color: $deep-cove
		line-height: 1em
		border-radius: 10px
		box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.05)
		cursor: pointer
		&::after
			position: absolute
			content: url('../img/arrow-bottom.svg')
			top: 50%
			right: 32px
			width: 10px
			height: auto
			transform: translateY(-40%)
			transition: all .3s ease
		&.active
			&::after
				content: url('../img/arrow.svg')
	&__toggle
		display: none
		width: 100%
		background: $white
		box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.05);
		padding: 18px 25px
		margin-bottom: 30px
		border-radius: 0 0 10px 10px
		p
			color: $mine-shaft
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0
		&.active
			display: block

