.first-screen
	position: relative
	background: url("../img/first-screen-bg.jpg") left no-repeat
	background-size: cover
	padding: 240px 0 180px
	color: $white
	+r(992)
		padding: 150px 0 90px
	+r(576)
		padding: 130px 0 50px
		text-align: center
	h1
		font-family: $title-font
		font-weight: 900
		text-transform: uppercase
		max-width: 730px
		font-size: 34px
		line-height: 1.3em
		padding-bottom: 20px
		margin-bottom: 15px
		position: relative
		&::before, &::after
			content: ''
			background: $crimson
			width:  70px
			position: absolute
			left: 0
		&::before
			height: 2px
			bottom: 6px
		&:after
			height: 1px
			bottom: 0
		+r(992)
			max-width: none
			font-size: 30px
		+r(768)
			font-size: 24px
		+r(576)
			font-size: 20px
			&::before, &::after
				left: 50%
				transform: translateX(-50%)
			br
				display: none
	p
		max-width: 550px
		font-family: $title-font
		margin-bottom: 45px
		+r(992)
			max-width: none
		+r(576)
			font-size: 12px
			letter-spacing: 0.05em

	a
		&.button
			margin-right: 30px
			+r(576)
				margin: 0 auto 15px
	a
		text-align: center
		&.more
			margin: 0 auto


