.footer
	position: relative
	padding-top: 135px
	padding-bottom: 30px
	background: url('../img/footer-bg.png') center top no-repeat
	background-size: cover
	z-index: 110
	&-template
		+r(575)
			padding-top: 80px
	&__wrapper
		display: flex
		margin-bottom: 30px
		align-items: center
		+r(575)
			flex-wrap: wrap
			justify-content: center
			margin-bottom: 15px
	.copiright
		position: relative
		text-align: center
		color: #0d2f80
	.logo
		width: 180px
		.name
		 font-size: 25px
		+r(575)
			margin-bottom: 10px
	.nav
		width: auto
		+r(991)
			display: none
	.social-media
		margin-left: auto
		+r(575)
			margin-right: auto
		.icon
			fill: $white
			font-size: 18px
			margin: 0 10px
			transition: all .3s ease
			&:hover
				fill: #0d2f80
