.form
	position: relative
	background: url("../img/form-bg.png") center
	background-size: cover
	color: $white
	padding: 55px 0
	text-align: center
	+r(991)
		margin-top: 50px
		padding: 50px 0
	h2
		font-family: $title-font
		font-weight: 900
		font-size: 38px
		line-height: 1em
		margin-bottom: 15px
		+r(991)
			font-size: 34px
		+r(767)
			font-size: 28px
		+r(575)
			font-size: 20px
			margin-bottom: 10px
	p
		font-family: $title-font
		font-weight: 500
		font-size: 24px
		margin-bottom: 38px
		+r(991)
			font-size: 22px
		+r(767)
			font-size: 20px
		+r(575)
			font-size: 18px
			margin-bottom: 30px

	&__wrapper
		display: flex
		justify-content: center
		+r(991)
			flex-wrap: wrap
	&__input
		margin-right: 30px
		+r(991)
			margin: 0 15px 30px
