#callback, #review
	max-width: 400px
	position: relative
	margin-top: 5%
	margin-bottom: 5%
	transform: scale(.7)
	.form-modal
		padding: 40px 30px
		border-radius: 4px
		margin-top: 0
		margin-left: 0
		margin-right: 0
		position: relative
	h3
		font-size: 32px
		font-weight: 600
		line-height: 1em
	p
		font-size: 18px
		font-weight: 400
		margin-bottom: 30px
	.input-wrapper
		margin-bottom: 20px
		position: relative
		&:last-of-type
			margin-bottom: 0
	.button
		margin-top: 25px
		margin-bottom: 20px
	.checkbox__wrapper
		text-align: left
		input
			position: absolute
			opacity: 0
			&:checked ~ label.checkbox-label:after
				opacity: 1
		label
			width: 100%
			padding-left: 30px
			font-size: 12px
			position: relative
			&::before
				content: ''
				width: 15px
				height: 15px
				background: $silver
				position: absolute
				border: 1px solid $mine-shaft
				left: 0
				top: 0
			&::after
				content: ''
				width: 7px
				height: 10px
				position: absolute
				left: 4px
				top: 0
				opacity: 0
				transform: rotate(45deg)
				border-right: 2px solid $deep-cove
				border-bottom: 2px solid $deep-cove

.popup_close
	position: absolute
	top: 15px
	right: 15px
	background: transparent
	width: 20px
	height: 20px
	border-radius: 50%
	border: 1px solid $gull-gray
	transition: all .3s ease
	&::before, &::after
		content: ''
		width: 12px
		height: 1px
		background: $gull-gray
		position: absolute
		left: calc( 50% - 6px )
		top: calc(50% - .5px )
		transition: all .3s ease
	&::before
		transform: rotate(45deg)
	&::after
		transform: rotate(-45deg)
	&:hover
		border-color: $crimson
		&::before, &::after
			background: $crimson
		&::before
			transform: rotate(-45deg)
		&::after
			transform: rotate(45deg)
	span
		display: none

#thanks
	max-width: 380px
	position: relative
	margin-top: 5%
	margin-bottom: 5%
	transform: scale(.7)
	+r(575)
		max-width: 300px
	.form-modal
		padding: 40px
		border-radius: 4px
		margin-left: 0
		margin-right: 0
		p
			&:last-of-type
				margin-bottom: 0
.popup_visible
	#callback, #thanks
		transform: scale(1)
label
	&.error
		position: absolute
		left: 0
		top: -15px
		width: 100%
		background: $cardinal
		color: $white
		z-index: 100
		text-align: center
		border-radius: 3px
	&#agree-error
		position: absolute!important
		top: auto
		bottom: -20px
		&::before, &::after
			content: none!important
.form__input
	position: relative
