.reviews
	position: relative
	padding-top: 100px
	padding-bottom: 30px
	+r(991)
		padding: 80px 0
	+r(767)
		padding: 60px 0
	+r(565)
		padding: 50px 0
	.title
		margin-bottom: 30px
	&__slider
		&_block
			padding: 20px
			border-radius: 20px
			background: $white
			box-shadow: 0 15px 30px 0 rgba(3, 14, 43, 0.1)

			margin: 0 15px
			h3
				margin-bottom: 7px
				min-height: 40px
				padding-left: 25px
				position: relative
				font-family: $title-font
				font-weight: 700
				font-size: 16px
				color: $deep-cove
				line-height: 1em
				&::before
					content: url('../img/reviews-build.svg')
					width: 18px
					height: 18px
					position: absolute
					left: 0
		&_text
			height: 180px
			overflow: auto
			+r(767)
				height: 120px
			p
				color: #4c4c4c
	.swiper-container
		padding-bottom: 60px
	.swiper-slide
		height: 100%
	.swiper-pagination
		text-align: left
		display: flex
		align-items: center
		+r(565)
			text-align: center
			justify-content: center
	.swiper-pagination-bullet
		background: #e5e6e9
		opacity: 1
	.swiper-pagination-bullet-active
		width: 18px
		height: 18px
		background-image: linear-gradient( to top, rgb(6,23,64) 0%, rgb(9,35,96) 54%, rgb(11,46,128) 100%);

