.standard
	position: relative
	padding: 50px 0
	+r(575)
		padding: 50px 0 0
	&__wrapper
		margin-bottom: 70px
		+r(575)
			margin-bottom: 30px
			text-align: center
		&_more
			margin-bottom: 0
			img
				float: left
				max-width: 50%
				height: auto
				margin-right: 10px
				margin-bottom: 15px
				+r(575)
					float: none
					max-width: 100%
	.title
		h2
			margin-bottom: 10px
		margin-bottom: 30px
	h3
		font-family: $title-font
		font-weight: 700
		font-size: 18px
		color: $deep-cove
		margin-bottom: 10px
	p
		color: $mine-shaft
		margin-bottom: 10px
	&__img-wrapper
		display: flex
		justify-content: center
		align-items: center
		+r(565)
			flex-wrap: wrap
		img
			max-width: 50%
			height: auto
			+r(575)
				max-width: 100%
				margin-bottom: 10px
	&__info-border
		border: 3px solid $deep-cove
		padding: 30px
		margin-top: 40px
		position: relative
		&::before
			content: ''
			position: absolute
			width: 30px
			height: 30px
			left: 50%
			top: -7px
			background: $white
			border-left: 3px solid $deep-cove
			border-top: 3px solid $deep-cove
			transform: rotate(45deg) translateX(-50%)
		+r(565)
			padding: 15px
			margin-top: 0
			&::before
				content: none
		span
			display: block
			strong
				color: $deep-cove
			+ p
				padding-left: 16px
		&_wrapper
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			+r(767)
				justify-content: center
		&_block
			text-align: center
			width: 33%
			+r(767)
				width: 50%
				margin-bottom: 20px
				&:last-of-type
					margin-bottom: 0
			+r(575)
				width: 100%
			p
				height: 50px
				margin-bottom: 10px
				overflow: auto
				text-align: left
				line-height: 1.2em
				+r(575)
					text-align: center
			.mCSB_inside>.mCSB_container
				margin-right: 0
	&__blog
		+r(565)
			text-align: center
		img
			max-width: 570px
			width: 100%
			height: auto
			margin-bottom: 30px
			display: block
			+r(991)
				margin: 0 auto 10px
