.tech
	position: relative
	padding-top: 30px
	padding-bottom: 60px
	.title
		h2
			margin-bottom: 10px
		margin-bottom: 30px
	&__info
		margin-bottom: 30px
		h3
			font-family: $title-font
			font-weight: 700
			font-size: 21px
			margin-bottom: 10px
		p
			color: $mine-shaft
	&__wrapper
		display: flex
		flex-wrap: wrap
		+r(1199)
			justify-content: center
	&__block
		width: 100%
		max-width: 264px
		margin-right: 15px
		box-shadow: 0px 15px 30px 0px rgba(3, 14, 43, 0.1)
		height: 364px
		border: 3px solid $white
		padding: 30px 20px
		transition: all .3s ease-in
		+r(1199)
			margin: 0 15px 30px
		&:hover
			border-color: $crimson
			a
				color: $crimson
				&::after
					transition: all .3s ease
					transform: translateY(-50%) translateX(2px)
					content: url("../img/right-arrow-red.svg")
		&:nth-of-type(3n+2)
			margin: 60px 15px 0
			+r(1199)
				margin: 0 15px 30px
		&:nth-of-type(3n)
			margin: 120px 0 0 15px
			+r(1199)
				margin: 0 15px 30px
		img
			max-width: 170px
			display: block
			height: auto
			margin: 0 auto 25px
		h4
			font-family: $title-font
			font-weight: 700
			color: $deep-cove
			margin-bottom: 5px
		p
			max-height: 110px
			overflow: hidden
			color: $tundora
			margin-bottom: 10px
		a
			display: block
			text-align: right
			text-decoration: underline
			color: $mine-shaft
			font-family: $button-fonts
			font-weight: 700
			position: relative
			padding-right: 10px
			&:hover
				color: $crimson
				&::after
					transition: all .3s ease
					transform: translateY(-50%) translateX(2px)
					content: url("../img/right-arrow-red.svg")
			&::after
				content: url("../img/right-arrow-mine.svg")
				background-position: center
				position: absolute
				width: 12px
				height: 12px
				right: -10px
				top: 30%
				transform: translateY(-50%)
				transition: all .3s ease

