.why-we
	position: relative
	&__wrapper
		position: relative
		padding-right: 15px
		margin-bottom: 60px
		height: calc( 100% - 60px)
		+r(991)
			margin-bottom: 30px
		+r(565)
			text-align: center
		h3
			font-family: $title-font
			font-weight: 700
			font-size: 16px
			color: $deep-cove
			margin-bottom: 11px
			strong
				font-family: $default-font
				display: block
				line-height: 1.1em
				text-transform: uppercase
				font-weight: 800
				font-size: 20px
		p
			font-size: 14px
			color: $mine-shaft
			margin-bottom: 20px
			&:last-child
				margin-bottom: 0
			span
				display: block
				margin-bottom: 10px
				&:last-child
					margin-bottom: 0
				a
					font-family: $default-font
					font-weight: 700
					color: $deep-cove
					text-decoration: underline
			strong
				display: block
				font-weight: 700
				font-size: 14px
				color: $deep-cove
				margin-bottom: 5px
		&_border
			border: 5px solid $gull-gray
			padding: 40px 35px 30px
			&-small
				border-width: 3px
			+r(420)
				padding: 30px 15px 20px
		&_table
			padding-bottom: 45px
			table
				th,td
					line-height: 1em
					&:first-child
						padding-left: 25px
						width: 75%
						+r(576)
							padding-left: 15px
					&:last-child
						width: 25%
				tr
					text-align: left
					&:nth-of-type(2n+3)
						td
							background: $alabaster
				th
					font-family: $title-font
					font-weight: 700
					font-size: 16px
					color: $deep-cove
					padding-top: 0
					padding-bottom: 18px
				td
					font-family: $title-font
					font-size: 14px
					font-weight: 300
					padding: 18px 0
					border-bottom: 1px solid $wild-sand
		&_comics
			border: 3px solid $deep-cove
			padding: 20px 30px
			height: calc( 100% - 60px)
			position: relative
			img
				display: block
				margin: 0 auto
			&:before
				content: ''
				width: 25px
				height: 25px
				background: $white
				position: absolute
				border-left: 3px solid $deep-cove
				border-bottom: 3px solid $deep-cove
				left: -15px
				top: calc( 50% - 12px )
				transform: rotate(45deg)
				border-radius: 0 0 0 4px
				+r(991)
					content: none
			+r(991)
				height: 100%

	&__block
		margin-top: 30px
	&__elem
		display: flex
		margin-bottom: 35px
		align-items: center
		+r(575)
			justify-content: center
		&:last-child
			margin-bottom: 0
		&:nth-child(even)
			margin-left: 110px
			+r(991)
				margin-left: 0
			.why-we__elem_img
				&::before
					width: 1px
					height: 80px
					position: absolute
					right: 50%
					top: 80px
					background: $deep-cove
					+r(991)
						content: none
		&:nth-child(odd)
			.why-we__elem_img
				&::before
					width: 80px
					height: 1px
					position: absolute
					left: 80px
					top: 50%
					background: $deep-cove
					+r(1199)
						width: 88px
					+r(991)
						content: none
		&:last-child
			.why-we__elem_img
				&::before
					content: none
		&_img
			position: relative
			box-shadow: 0 10px 25px 0 rgba(6, 23, 64, 0.15)
			width: 80px
			height: 80px
			display: flex
			justify-content: center
			align-items: center
			border-radius: 18px
			transform: rotate(45deg)
			margin-right: 40px
			&::before
				content: ''
			img
				transform: rotate(-45deg)
				width: 35px
				height: auto
		&_text
			width: 280px
			+r(1199)
				width: 240px
			+r(991)
				width: 100%
				max-width: 450px
			+r(767)
				width: 320px
			+r(575)
				width: 220px
				text-align: left
			+r(420)
				width: 130px
			h3
				font-family: $title-font
				font-weight: 700
				font-size: 14px
				color: $deep-cove
				margin-bottom: 0
.subtitle
	position: relative
	max-width: 460px
	margin-bottom: 25px
	padding-bottom: 20px
	&::after
		content: ''
		width: 70px
		height: 1px
		background: $crimson
		position: absolute
		bottom: 0
		left: 0
		+r(575)
			left: 50%
			transform: translateX(-50%)
	h2
		font-family: $title-font
		font-weight: 900
		font-size: 26px
		line-height: 1em
		color: $deep-cove
		+r(768)
			font-size: 22px
		+r(575)
			font-size: 20px

		+ p
			margin-top: 15px

